<launch>
	<node pkg="rospy_qt" name="line_detect" type="line_detect.py" output="screen"/>
	<node pkg="rospy_qt" name="xlidarcontrol" type="xlidarcontrol.py" output="screen"/>
	<node pkg="rospy_qt" name="encoders" type="encoders.py" output="screen"/>
	<node pkg="rospy_qt" name="bar_detect" type="bar_detect.py" output="screen"/>
	<node pkg="rospy_qt" name="traffic_light_detect" type="traffic_light_detector.py"/>
	<node pkg="rospy_qt" name="sign_detect" type="sign_detect.py" output="screen"/>
	<node pkg="rospy_qt" name="teleop" type="teleop.py" output="screen"/>
</launch>
