<launch>
	<node pkg="rospy_qt" name="bar_control" type="bar_control.py" output="screen"/>
	<node pkg="rospy_qt" name="light_controller" type="light_controller.py" output="screen"/>
	<node pkg="rospy_qt" name="line_control" type="line_control.py" output="screen"/>
	<node pkg="rospy_qt" type="mission_control.py" name="mission_control" output="screen" />
	<node pkg="rospy_qt" name="odometry" type="odom.py" output="screen"/>
	<node pkg="rospy_qt" name="parking" type="parking.py" output="screen"/>	
	<node pkg="rospy_qt" name="tunnel_start" type="tunnel_start.py" output="screen"/>
</launch>
